{deps, [
{gun,".*",{git,"https://github.com/ninenines/gun.git",{tag,"2.2.0"}}},{jsx,".*",{git,"-",{ref,"-"}}},{base64url,".*",{git,"-",{ref,"-"}}},{lager,".*",{git,"https://github.com/erlang-lager/lager",{tag,"3.9.2"}}},{uuid,".*",{git,"https://github.com/okeuday/uuid.git",{tag,"v2.0.2"}}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,{parse_transform,lager_transform}]}.
